.advantages {
  text-align: center;
  color: #ffffff;
  background-color: $dark-grey;
}

.advantages__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 20px;
}
