.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    align-items: stretch;
    padding: 0;
  }
}

.contacts__title {
  font-weight: 700;

  @media (min-width: $tablet-width) {
    line-height: 23px;
    text-transform: uppercase;
  }
}

.contacts__text {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 0;
  margin-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    gap: 0;
    margin-top: 23px;
    line-height: 23px;
    text-align: start;
  }
}

.contacts__phone-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.contacts__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  outline: 1px solid #3f3f3f;
  outline-offset: -1px;

  &:hover {
    outline-color: #777777;
  }

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    color: rgba(255, 255, 255, 0.3);
    background-color: #252525;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    font-weight: 400;
    outline: none;
  }
}
